<div class="container" style="margin-top: 50px">
    <form>
        <div class="form-group">
            <h3>{{ usluga.name }}</h3>
        </div>
        <div class="form-group">
            <label>Donja granica cijene:</label>
            <input type="number" class="form-control" [(ngModel)]="usluga.lowerPrice" name="lowerPrice" #lowerPriceInput>
        </div>
        <div class="form-group">
            <label>Gornja granica cijene:</label>
            <input type="number" class="form-control" [(ngModel)]="usluga.upperPrice" name="upperPrice" #upperPriceInput>
        </div>
        <button type="submit" class="btn btn-success" (click)="onSaveUsluga(usluga, lowerPriceInput, upperPriceInput)" data-toggle="modal" data-target="#myModal">Spremi</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                Promjena usluge uspješna!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goBack()">U redu</button>
            </div>
        </div>
    </div>
</div>