@import url('https://fonts.googleapis.com/css?family=Montserrat');
p {
    font-family: Montserrat, sans-serif;
    margin-bottom: 24px;
}

h3 {
    font-family: Montserrat, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-family: Montserrat, sans-serif;
}

ul {
    list-style-type: none;
}