<div class="container" style="margin-top: 50px;">
    <div class="text-center" style="margin-bottom: 50px">
        <button class="btn btn-success" (click)="onAdd()">Dodaj uslugu</button>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5" style="background-color: #F0F0F0; border:1px solid #C8C8C8;" *ngFor="let usluga of usluge; let i = index">
            <h3>{{ usluga.name }}</h3>
            <p>{{ usluga.lowerPrice }} - {{ usluga.upperPrice }} kn</p>
            <div class="btn-group" style="margin-bottom: 10px">
                <div class="btn-toolbar">
                    <button class="btn btn-danger" style="margin-right: 5px" (click)="onDelete(usluga)">Obriši</button>
                    <button class="btn btn-primary" (click)="onChangeUsluga(usluga)">Promijeni</button>
                </div>
            </div>
        </div>
    </div>
</div>