<nav class="navbar navbar-expand-md navbar-static-top navbar-dark bg-dark">

    <a class="navbar-brand" style="margin-left: 20px" [routerLink]="['/']">Frizerski salon Mari</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/']" class="nav-link">Home</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/usluge']" class="nav-link">Usluge</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/contact']" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </div>

</nav>