<div class="container" style="margin-top: 50px">
    <form>
        <div class="form-group">
            <h3>Naziv usluge:</h3>
            <input type="text" class="form-control" #nameInput>
        </div>
        <div class="form-group">
            <label>Donja granica cijene:</label>
            <input type="number" class="form-control" #lowerPriceInput>
        </div>
        <div class="form-group">
            <label>Gornja granica cijene:</label>
            <input type="number" class="form-control" #upperPriceInput>
        </div>
        <button type="submit" class="btn btn-success" (click)="onAddUsluga(nameInput, lowerPriceInput, upperPriceInput)" data-toggle="modal" data-target="#myModal">Dodaj</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                Dodavanje usluge uspješno!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goBack()">U redu</button>
            </div>
        </div>
    </div>
</div>