<div class="container" style="margin-top: 40px;">
    <ul>
        <li *ngFor="let workingDay of workingDays; let i = index">
            <h3><b><u>{{ workingDay.name }}</u></b></h3>
            <div class="row">
                <form class="form-inline" action="/action_page.php">
                    <label class="mr-sm-2">Pocetak radnog vremena:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="workingDay.startTime" [ngModelOptions]="{standalone: true}" #startTimeInput>
                    <label class="mr-sm-2">Kraj radnog vremena:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="workingDay.endTime" [ngModelOptions]="{standalone: true}" #endTimeInput>
                    <button type="submit" class="btn btn-primary mb-2" (click)="onSaveTapped(workingDay, startTimeInput, endTimeInput)" data-toggle="modal" data-target="#myModal">Spremi</button>
                </form>
            </div>
            <hr>
        </li>
    </ul>


    <br><br><br><br><br>
    <p style="color: #808080;"><i>*podatke upisivati u obliku: hh:mm (npr. 08:00, 16:00)</i></p>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>
            <div class="modal-body">
                Promjena radnog vremena uspješna!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">U redu</button>
            </div>
        </div>
    </div>
</div>