<div class="container" style="margin-top: 50px;">
    <div class="text-center" style="margin-bottom: 40px">
        <h2><b>Izaberite najbolje za sebe i za njegu svoje kose</b></h2>
    </div>
    <hr style="margin-bottom: 70px">
    <div class="row">
        <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5" style="background-color: #F0F0F0; border:1px solid #C8C8C8;" *ngFor="let usluga of usluge">
            <h3>{{ usluga.name }}</h3>
            <p>{{ usluga.lowerPrice }} - {{ usluga.upperPrice }} kn</p>
        </div>
    </div>
</div>