<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin">
                        <div class="form-label-group" style="margin-bottom: 10px">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus #username>
                        </div>

                        <div class="form-label-group" style="margin-bottom: 20px">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #password>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="onLogin(username.value, password.value)" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <router-outlet></router-outlet> -->
</div>