<div class="container">
    <div class="parallax">

    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row d-flex mb-5 justify-content-center">
        <div class="col-md-8">
            <div class="row mb-5">

                <div class="col-md-4 text-center py-4 border-right">
                    <div class="icon">
                        <span class="material-icons">map</span>
                        <h3><b>Adresa:</b></h3>
                        <p>Selčinska ulica 30, Sesvete, Zagreb</p>
                    </div>
                </div>

                <div class="col-md-4 text-center py-4 border-right">
                    <div class="icon">
                        <span class="fa fa-mobile-phone" style="font-size: 30px"></span>
                        <h3><b>Mobitel:</b></h3>
                        <p>+ 3859 92 147 621</p>
                    </div>
                </div>

                <div class="col-md-4 text-center py-4">
                    <div class="icon">
                        <span class="fa fa-phone" style="font-size:30px"></span>
                        <h3><b>Telefon:</b></h3>
                        <p>+ 3851 200 9528</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row bg-faded mt-2">
        <div class="col-4 mx-auto d-flex justify-content-center flex-wrap">
            <a (click)="onNavigate()"><img class="" src="assets/images/logo.jpg" width="300"></a>
        </div>
    </div>
</div>