@import url('https://fonts.googleapis.com/css?family=Montserrat');
p {
    font-family: Montserrat, sans-serif;
    color: #808080;
}

h3 {
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
}

span {
    margin-bottom: 10px;
}

.parallax {
    /* The image used */
    background-image: url("/assets/images/kontakt-slika.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}