<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Promjena radnog vremena</h3>
                <button class="btn btn-primary" (click)="onChangeHours()">Promijeni</button>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Upravljanje uslugama</h3>
                <button class="btn btn-primary" (click)="onManageUsluge()">Upravljaj</button>
            </div>
        </div>

    </div>
</div>

<br>
<hr>
<br>

<div class="container">
    <div class="row">
        <button class="btn btn-danger" (click)="onSignOut()">Odjava</button>
    </div>
</div>