<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/kosa.jpg" alt="Third slide">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/ljubicasta.jpg" alt="Third slide">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/plava.jpg" alt="Third slide">
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" style="margin-top: 80px">
    <div class="row align-items-center">

        <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px">
            <h2><i>Dobrodošli u frizerski salon Mari</i></h2>
            <p>
                Frizerski salon Mari je usmjeren na čovjeka koji želi više pažnje posvetiti svom izgledu, zdravlju i njezi kose te se istovremeno osjećati posebno.
            </p>
            <br>
            <p>
                Vodimo cjelokupnu brigu o kosi naših klijenata, a s iskustvom i frizerskom vještinom, naš rad to i potvrđuje.
            </p>
        </div>

        <div class="img-responsive text-center" style="margin-bottom: 30px">
            <img src="assets/images/kosa-dolje.jpg" alt="Pribor" width="350">
        </div>

        <div class="col-12 col-md-6 col-lg-4 text-center">

            <div class="align-items-center" style="border:1px solid #D3D3D3;">
                <div class="text-center" style="margin-top: 30px">
                    <h2 style="margin-bottom: 30px"><u>Radno vrijeme</u></h2>
                    <div class="text-center">
                        <ul class="list-inline">
                            <li *ngFor="let workingDay of workingDays">
                                <h5>{{ workingDay.name }}</h5>
                                <p style="color: #707070">{{ workingDay.startTime }} - {{ workingDay.endTime }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="text-center">
        <hr>
    </div>
</div>