@import url('https://fonts.googleapis.com/css?family=Montserrat');
p {
    font-family: Montserrat, sans-serif;
    margin-bottom: 24px;
}

ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
}

.list-inline {
    justify-content: center;
}

.img-responsive {
    margin: 0 auto;
}